<div class="container">
  <div class="hero-container">
    <div class="hero-title">
      <h1>{{title}}</h1>
      <h2>Do things with your friends.</h2>
    </div>
    <div class="cta-div">
      <a href="/events/new"><button type="button" class="btn btn-info btn-lg">Create Event</button></a>
    </div>
  </div>
  <hr>
  <div class="how-it-works">
    <label class="how-it-works-section-title">How it works</label>
    <div class="value-props">
      <div class="value-prop value-1">
        <h2 class="icon-number">1</h2>
        <h3>Create an Event</h3>
        <p>Explain your idea and set a minimum goal, for example: "I want to go bowling if we can get at least 6 people on board"</p>
      </div>
      <div class="value-prop value-2">
        <h2 class="icon-number">2</h2>
        <h3>Friends Join</h3>
        <p>Share the link to your event with friends. Friends can easily commit to the event without credit card details.</p>
      </div>
      <div class="value-prop value-3">
        <h2 class="icon-number">3</h2>
        <h3>Split the Bill w/ Venmo</h3>
        <p>Once you reach your goal, you can click a button to conveniently charge your friends on Venmo.</p>
      </div>
    </div>
  </div>
</div>
