<div class="container">
  <div class="hero-container">
    <div class="hero-title">
      <h1>{{title}}</h1>
      <h2>Crowdfunding for small events with friends</h2>
    </div>
    <div class="cta-div">
      <a href="/events/new"><button type="button" class="btn btn-info btn-lg">Create Event</button></a>
    </div>
  </div>
  <hr>
  <div class="how-it-works">
    <div class="value-prop value-1">
      <h3>Create an Event</h3>
      <p>Explain your idea and set a minimum goal, for example: "At least 12 people must be interested"</p>
    </div>
    <div class="value-prop value-2">
      <h3>Gauge Interest</h3>
      <p>Share the link to your event with friends. Friends can easily commit to the event with just their Venmo handle.</p>
    </div>
    <div class="value-prop value-3">
      <h3>Charge by Venmo</h3>
      <p>Once you reach your minimum goal, you can click a button to conveniently charge your friends on Venmo.</p>
    </div>
  </div>
</div>
