<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa|Engagement" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav class="navbar navbar-dark bg-dark">
    <div class="navbar-brand">
      <a href="./">Event Starter</a>
    </div>

    <!-- <div class="navbar-text">
      log in/log out
    </div> -->
    <ul class="nav navbar-nav navbar-right">
      <div class="nav-links">
        {{# if username}}
          <li><a href="/dashboard" class="btn btn-success">Dashboard</a></li>
          <li><a href="/logout" class="btn btn-link">Logout</a></li>
          {{else}}
            <li><a href="/signup" class="btn btn-info">Sign Up</a></li>
            <li><a href="/login" class="btn btn-secondary">Login</a></li>
            {{/if}}
      </div>
    </ul>
  </nav>

  <main class="container">
    {{{body}}}
  </main>
</body>

</html>
