/****************
     FULLPAGE
****************/
body, html {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Comfortaa', "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1f2f6;
}

main {
  padding: 1em 2em;
}

a {
  color: #00B7FF;
}

h1 {
  margin-top: 1em;
}

.container {
  margin-top: 3em;
}

/****************
      FORMS
****************/
form {
  max-width: 66%;
}

.form-group {
  margin-top: 2em;
}

label {
  font-weight: bold;
}

.center_div {
  margin: 0 auto;
  width: 80%
    /* value of your choice which suits your alignment */
}

.text-left {
  margin-top: 2em;
}

.btn-info {
  padding: 0.5em 1em;
}

.required-star {
  font-size: 1.2em;
  color: var(--red);
}

/****************
    NAVBAR
****************/
nav {
  /* height:80px; */
  padding: 1.16em 3.5em !important;
}

.navbar-brand a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-collapse {
  /* display:flex; */
  justify-content: flex-end;
}
.nav-links {
  display: flex;
  align-items:center;
}

.nav-links li:not(:first-child) {
  margin-left: 1em;
}

.btn-link {
  color: #f1f2f6;
}

.btn-link:hover {
  color: #f1f2f6;
}

/***************
     HERO
***************/
.hero-title {
  text-align: center;
  margin-top: 4em;
}

.hero-title h1 {
  font-size: 5em;
}

.hero-title h2 {
  margin-top: 0.75em;
  color: var(--secondary);
}

/**************
    CTA DIV
**************/
.cta-div {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  margin-bottom: 12em;
}

.btn-lg {
  padding: 0.75rem 2rem;
}

/*************
 HOW IT WORKS
*************/
.how-it-works {
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.how-it-works h3 {
  min-height: 2em;
}

.value-prop {
  padding: 1em;
  width: 80%;
}

.value-prop h3 {
  color: var(--gray-dark);
}

.value-prop p {
  color: var(--secondary);
}

/***************
  SIGNUP/LOGIN
***************/
.login-alternative-text {
  margin-top: 1em;
}

/***************
  EVENTS index
***************/
.card-body {
  background-color: var(--light)
}

/***************
SHOW EVENT PAGE
***************/
.cover-image {
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-image img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.event-label {
  min-width: 200px;
}

/****MOBILE****/
@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  nav {
    /* height:80px; */
    padding: 1.16em 1em !important;
  }

  h1 {
    margin-top: 0em;
  }

  .cta-div {
    margin-bottom: 8em;
  }

  .how-it-works {
    flex-direction: column;
  }

  form {
    max-width: 100%;
  }
}
