/****************
     FULLPAGE
****************/
body, html {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Comfortaa', "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1f2f6;
}

main {
  /* padding: 1em 2em; */
}

a {
  color: var(--info);
}

a:hover {
  color: #2e5f75;
}

h1 {
  margin-top: 1em;
}

.container {
  margin-top: 3em;
  margin-bottom: 3em;
}

input {
  border:none;
  padding: 0.75em 1em !important;
}

/****************
      FORMS
****************/
form {
  max-width: 66%;
}

.form-group {
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-control, .input-group-text {
  border:none; /*to cancel out border from bootstrap*/
}

.input-group-text {
  background-color: #ced4da;
}

label {
  font-weight: bold;
}

.center_div {
  margin: 0 auto;
  width: 66%;
}

.text-left {
  margin-top: 2em;
}

.btn-info {
  padding: 0.5em 1em;
}

.required-star {
  font-size: 1.2em;
  color: var(--red);
}

.form-row {
  align-items: flex-end;
}

/****************
    NAVBAR
****************/
nav {
  /* height:80px; */
  padding: 1.16em 3.5em !important;
}

.navbar-brand a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-collapse {
  /* display:flex; */
  justify-content: flex-end;
}
.nav-links {
  display: flex;
  align-items:center;
}

.nav-links li:not(:first-child) {
  margin-left: 1em;
}

.btn-link {
  color: #f1f2f6;
}

.btn-link:hover {
  color: #f1f2f6;
}

.collapse.show .nav-links, .collapsing .nav-links, .collapsing .nav-links  {
  margin-top:1em;
  display:flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content:flex-end;
}

.nav-links li {
  padding:0.3em;
}

/***************
     HERO
***************/
.hero-title {
  text-align: center;
  margin-top: 12em;
}

.hero-title h1 {
  font-size: 5em;
}

.hero-title h2 {
  margin-top: 0.75em;
  color: var(--secondary);
}

/**************
    CTA DIV
**************/
.cta-div {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  margin-bottom: 12em;
}

.btn-lg {
  padding: 0.75rem 2rem;

}

.btn-lg {
  box-shadow: 0 0, 0 0 2px rgba(0,0,0,0.23);
  border-radius:8px;
}

.btn-lg:hover {
  color:var(--info);
  border-radius: 1px;
  border-color:var(--info);
  background-color: white;
  border-radius:6px;
}


/*************
 HOW IT WORKS
*************/
.how-it-works {
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.how-it-works h3 {
  min-height: 2em;
}

.value-prop {
  padding: 1em;
  width: 80%;
}

.value-prop h3 {
  color: var(--gray-dark);
}

.value-prop p {
  color: var(--secondary);
}

/***************
  EVENTS index
***************/
.card-body {
  background-color: var(--light)
}

.row {
  margin-top: 2em;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.event-date {
  color:#636e72;
}

/***************
SHOW EVENT PAGE
***************/

.card {
  box-shadow: 0 0, 0 0 2px rgba(0,0,0,0.23);
}

.card:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.18), 0 1px 2px rgba(0,0,0,0.22);
}

.cover-image {
  /* Center and scale the image nicely */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover-image img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.event-label {
  min-width: 200px;
}

.join-event-form form {
  display:flex;
  justify-content: center;
}

.join-event-btn {
  margin-top:1.5em;
}

/***************
 SIGNUP / LOGIN
***************/
.helper-text {
  color:var(--gray);
  width:100%;
  flex-grow:1;
}

div.helper-text {
  margin-top: 1em;
}
/***************
    NEW EVENT
***************/
#venmo-label {
  width: 100%;
}

/****MOBILE****/
@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }

  nav {
    /* height:80px; */
    padding: 1.16em 1em !important;
  }

  h1 {
    margin-top: 0em;
  }

  .cta-div {
    margin-bottom: 8em;
  }

  .hero-title {
    margin-top: 6em;
  }

  .center_div {
    margin: 0 auto;
    width: 85%;
  }

  .how-it-works {
    flex-direction: column;
  }

  form {
    max-width: 100%;
  }
}
