<div>
  <form action="/users" method="post">
    <h1>Sign Up</h1>

    <div class="form-group">
      <label for="user-email" style="display:none">Email</label>
      <input type="email" name="email" class="form-control" id="user-email" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="user-password" style="display:none">Password</label>
      <input type="password" name="password" class="form-control" id="user-password" placeholder="Create Password">
    </div>

    <div class="text-left">
      <button type="submit" class="btn btn-info">Sign Up</button>
    </div>
  </form>
</div>
